03RasporedSOAP/spec/rasporedcasova.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/rasporedcasova/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="rasporedcasova" targetNamespace="http://www.example.org/rasporedcasova/">
  <bindings
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    wsdlLocaption="http://localhost:8080/RasporedCasovaService/RasporedPortType?WSDL"
    xmlns="http://java.sun.com/xml/ns/jaxws">
    <bindings node="wsdl:definitions">
        <enableAsyncMapping>true</enableAsyncMapping>
    </bindings>
</bindings>
  
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/rasporedcasova/">
      <xsd:element name="getRaspored">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRasporedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="rasporedRequest"
      	type="tns:RasporedRequestType">
      </xsd:element>

      <xsd:complexType name="RasporedRequestType">
      	<xsd:sequence>
      		<xsd:element name="godina" type="xsd:int"></xsd:element>
      		<xsd:element name="smer" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="rasporedResponse"
      	type="tns:RasporedResponseType">
      </xsd:element>

      <xsd:complexType name="RasporedResponseType">
      	<xsd:sequence>
      		<xsd:element name="cas" type="tns:CasoviType"
      			maxOccurs="unbounded" minOccurs="0">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="CasoviType">
      	<xsd:sequence>
      		<xsd:element name="predmet" type="xsd:string"></xsd:element>
      		<xsd:element name="dan" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getRasporedFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="getRasporedFault"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="rasporedFault" type="tns:rasporedFaultType"></xsd:element>

      <xsd:complexType name="rasporedFaultType">
      	<xsd:sequence>
      		<xsd:element name="rasporedFault" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getRasporedRequest">
    <wsdl:part element="tns:rasporedRequest" name="in"/>
  </wsdl:message>
  <wsdl:message name="getRasporedResponse">
    <wsdl:part element="tns:rasporedResponse" name="out"/>
  </wsdl:message>
  <wsdl:message name="getRasporedFault">
  	<wsdl:part name="parameters" element="tns:rasporedFault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RasporedPortType">
    <wsdl:operation name="getRaspored">
      <wsdl:input message="tns:getRasporedRequest"/>
      <wsdl:output message="tns:getRasporedResponse"/>
            <wsdl:fault name="fault" message="tns:getRasporedFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="rasporedcasovaSOAP" type="tns:RasporedPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getRaspored">
      <soap:operation soapAction="http://www.example.org/rasporedcasova/getRaspored"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="rasporedcasova">
    <wsdl:port binding="tns:rasporedcasovaSOAP" name="RasporedPort">
      <soap:address location="http://localhost:8080/RasporedPortType"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
