studentService/spec/studentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp1 U (http://www.altova.com) by Danijela (EMBRACE) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
 xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
 xmlns:xs="http://www.w3.org/2001/XMLSchema" 
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:y="http://new.webservice.namespace" 
   xmlns:wsp="http://www.w3.org/ns/ws-policy"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsaws="http://www.w3.org/2005/08/addressing"
        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
  xmlns:ns="http://new.webservice.namespace" targetNamespace="http://new.webservice.namespace">
	<types>
		<xs:schema targetNamespace="http://new.webservice.namespace">
			<xs:element name="student">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ime" type="xs:string"/>
						<xs:element name="prezime" type="xs:string"/>
						<xs:element name="status">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="budzet"/>
									<xs:enumeration value="samofinansiranje"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="fakultet">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="smer" type="xs:string"/>
									<xs:element name="naziv" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="broj_indeksa" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="studenti">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:student" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="naziv_fakulteta" type="xs:string"/>
            <xs:element name="pronadjiStudentaFault" type="xs:string"></xs:element>
        </xs:schema>
	</types>
	<message name="pronadjiRequest">
		<part name="fakultet" element="ns:naziv_fakulteta"/>
	</message>
	<message name="pronadjiResponse">
		<part name="studenti" element="ns:studenti"/>
	</message>
	<message name="pronadjiStudentaFault">
		<part name="fault" element="ns:pronadjiStudentaFault"></part>
	</message>
	<portType name="StudentPortTypes">
		<operation name="pronadjiStudenta">
			<input message="y:pronadjiRequest"/>
			<output message="y:pronadjiResponse"/>
            <fault name="fault" message="y:pronadjiStudentaFault"></fault>
        </operation>
	</portType>
	<binding name="StudentBinding" type="y:StudentPortTypes">
	<wsp:PolicyReference URI="#SecurityServiceSignThenEncryptPolicy"/>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="pronadjiStudenta">
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="StudentService">
		<port name="StudentPort" binding="y:StudentBinding">
			<soap:address location="http://localhost:8080/studentService/StudentPortTypes"/>
		</port>
	</service>
	 <wsp:Policy wsu:Id="SecurityServiceSignThenEncryptPolicy" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:AsymmetricBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:InitiatorToken>
              <wsp:Policy>
                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                  <wsp:Policy>
                    <sp:WssX509V1Token11/>
                  </wsp:Policy>
                  </sp:X509Token>
              </wsp:Policy>
            </sp:InitiatorToken>
            <sp:RecipientToken>
              <wsp:Policy>
                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
                  <wsp:Policy>
                    <sp:WssX509V1Token11/>
                  </wsp:Policy>
                </sp:X509Token>
              </wsp:Policy>
            </sp:RecipientToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:TripleDesRsa15/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax/>
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp/>
            <sp:EncryptSignature/>
            <sp:OnlySignEntireHeadersAndBody/>
            <sp:SignBeforeEncrypting/>
          </wsp:Policy>
        </sp:AsymmetricBinding>
        <sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <sp:Body/>
        </sp:SignedParts>
        <sp:EncryptedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <sp:Body/>
        </sp:EncryptedParts>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportRefIssuerSerial/>
          </wsp:Policy>
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</definitions>
